.container {
  width: 80%;
  height: 500px;
  left: auto;
  right: auto;
}

.first {
  background-color: #78acff;
}

.second {
  background-color: #ff7878;
}

.handle {
  background-color: transparent;
}
